body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/frontend/img/Captura_de_tela_de_2024-10-29_13-47-04-removebg-preview.png');
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    color: #ffcc00; /* Dourado para destacar o título */
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.main-area, .graphs-area {
    padding: 25px;
    text-align: center;
    max-width: 800px;
    width: 90%;
    background-color: rgba(42, 42, 42, 0.9);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.graph-container {
    margin-bottom: 30px;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}

.graph-item {
    margin: 15px 0;
}

.ct-chart {
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}

p {
    line-height: 1.6;
    margin: 15px 0;
    color: #d3d3d3;
    font-size: 16px;
    text-align: justify;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #007f7f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #005f5f;
    transform: scale(1.05);
}

/* Estilização para o último valor */
.last-value {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    button {
        width: 100%;
    }

    .ct-chart {
        width: 100%;
        height: auto;
    }
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
